body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
  height: auto;
  background-color: #DADFEA;
  display: flex;
  justify-content: center;
  padding: 70px 0px 70px 0px;
  background-image: url('../images/blueback.jpg');
  background-size: cover;
}
.container .contentbox {
  width: 82%;
  max-width: 1200px;
  background-color: #F4F5F7;
  box-shadow: 1px -1px 40px -2px rgba(0, 0, 0, 0.27);
  border-radius: 5px;
}
.container .contentbox .header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 50px;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #DADFEA;
}
.container .contentbox .header .header-left {
  padding-left: 20px;
}
.container .contentbox .header .header-right {
  padding-right: 20px;
}
.container .contentbox .header i {
  color: #00CCE2;
  font-size: 18px;
}
.container .contentbox .main {
  padding-bottom: 20px;
}
.container .contentbox .main .titlesection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 20px auto;
}
.container .contentbox .main .titlesection .titlebtn {
  display: block;
  border: 1px solid #00CCE2;
  color: #00CCE2;
  background-color: #FFFFFF;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
  width: 27%;
}
.container .contentbox .main .card {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin: 25px auto;
  width: 85%;
  padding: 20px 20px 30px 20px;
  border: 1px solid #DADFEA;
}
.container .contentbox .main .card .left {
  display: flex;
}
.container .contentbox .main .card .left .preview {
  width: 275px;
}
.container .contentbox .main .card .left .preview .prevheader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.container .contentbox .main .card .left .preview .prevheader .price {
  color: #00CCE2;
}
.container .contentbox .main .card .left .preview .imagebox {
  width: 100%;
  position: relative;
}
.container .contentbox .main .card .left .preview .imagebox img {
  width: 100%;
}
.container .contentbox .main .card .left .preview .imagebox .cbutton {
  background-color: #00CCE2;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 5px 12px;
  text-align: center;
  position: absolute;
  bottom: -8px;
  font-size: 12px;
  width: 60%;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.container .contentbox .main .card .left .features {
  padding-left: 30px;
}
.container .contentbox .main .card .left .features .featuretop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .contentbox .main .card .left .features .featuretop a {
  font-size: 12px;
  text-decoration: none;
  color: #00CCE2;
}
.container .contentbox .main .card .left .features .featuretop .rating i {
  font-size: 15px;
  color: #FFCC00;
}
.container .contentbox .main .card .left .features .list ul {
  padding-left: 15px;
  font-size: 12px;
}
.container .contentbox .main .card .right {
  width: 28%;
  border-left: 1px solid #DADFEA;
  padding-left: 15px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .contentbox .main .card .right .subscribebox .subtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container .contentbox .main .card .right .subscribebox .subtop .subtn {
  background-color: #DADFEA;
  border-radius: 20px;
  padding: 2px;
  width: 60px;
}
.container .contentbox .main .card .right .subscribebox .subtop .subtn .switch {
  background-color: #FFFFFF;
  color: #00CCE2;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  width: 30px;
  padding: 3px;
}
.container .contentbox .main .card .right .subscribebox .subbottom {
  font-size: 11px;
  color: #DADFEA;
  letter-spacing: 2px;
  padding-top: 10px;
}
.container .contentbox .main .card .right .bottom .quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.container .contentbox .main .card .right .bottom .quantity select {
  width: 68%;
  height: 35px;
  background-color: #FFFFFF;
  border: 1px solid #DADFEA;
}
.container .contentbox .main .card .right .bottom .addbtn {
  display: block;
  border: 1px solid #00CCE2;
  color: #00CCE2;
  background-color: #FFFFFF;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
  background-color: #00CCE2;
  color: #FFFFFF;
}
